name: myflutter
description: A Flutter Android jewellery invoicing application built with GitHub Codespaces.
publish_to: 'none'
version: 1.0.1+2

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  pdf: ^3.10.7
  printing: ^5.12.0
  shared_preferences: ^2.2.2
  intl: ^0.18.1
  path_provider: ^2.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
